Escreva um programa que imprima os números de 1 a 100.\
Mas para múltiplos de três imprima “Três” em vez do número e para múltiplos de cinco imprima “Cinco”.\
Para números múltiplos de três e cinco, imprima “TrêsCinco”.


Write a program that prints the numbers from 1 to 100.\
But for multiples of three print “Three” instead of the number and for the multiples of five print “Five”.\
For numbers which are multiples of both three and five print “ThreeFive”.

In [1]:
# for number_to_calculate in range(1, 100):
#     if (number_to_calculate % 3 == 0) and (number_to_calculate % 5 == 0):
#         print( number_to_calculate)


multiples_of_3_and_5 = [number_to_calculate for number_to_calculate in range(1, 100) if number_to_calculate % 3 == 0 and number_to_calculate % 5 == 0]
print(multiples_of_3_and_5)

[15, 30, 45, 60, 75, 90]

In [1]:
for number_to_calculate in range(100):
    if (number_to_calculate % 3 == 0) and (number_to_calculate % 5 == 0):
        print( i, i%3, i%5)

NameError: name 'i' is not defined

In [2]:
def show_number(number_to_calculate):
    if number_to_calculate % 3 == 0 and number_to_calculate % 5 == 0:
        return 'treeFive'
    elif number_to_calculate % 3 == 0:
        return 'Tree'
    elif number_to_calculate % 5 == 0:
        return 'Five'
    else:
        return str(number_to_calculate)

 
    
opa = list(map(lambda number_to_calculate: show_number(number_to_calculate), range(1, 100)))

opa

['1',
 '2',
 'Tree',
 '4',
 'Five',
 'Tree',
 '7',
 '8',
 'Tree',
 'Five',
 '11',
 'Tree',
 '13',
 '14',
 'treeFive',
 '16',
 '17',
 'Tree',
 '19',
 'Five',
 'Tree',
 '22',
 '23',
 'Tree',
 'Five',
 '26',
 'Tree',
 '28',
 '29',
 'treeFive',
 '31',
 '32',
 'Tree',
 '34',
 'Five',
 'Tree',
 '37',
 '38',
 'Tree',
 'Five',
 '41',
 'Tree',
 '43',
 '44',
 'treeFive',
 '46',
 '47',
 'Tree',
 '49',
 'Five',
 'Tree',
 '52',
 '53',
 'Tree',
 'Five',
 '56',
 'Tree',
 '58',
 '59',
 'treeFive',
 '61',
 '62',
 'Tree',
 '64',
 'Five',
 'Tree',
 '67',
 '68',
 'Tree',
 'Five',
 '71',
 'Tree',
 '73',
 '74',
 'treeFive',
 '76',
 '77',
 'Tree',
 '79',
 'Five',
 'Tree',
 '82',
 '83',
 'Tree',
 'Five',
 '86',
 'Tree',
 '88',
 '89',
 'treeFive',
 '91',
 '92',
 'Tree',
 '94',
 'Five',
 'Tree',
 '97',
 '98',
 'Tree']

In [40]:
multiples_of_3_and_5 = {number: 'TreeFive' for number in range(1, 100) if number % 3 == 0 and number % 5 == 0}
print(multiples_of_3_and_5)

multiples_of_3 = {number: 'Tree' for number in range(1, 100) if number % 3 == 0}
print(multiples_of_3)

multiples_of_5 = {number: 'Five' for number in range(1, 100) if number % 5 == 0}
print(multiples_of_5)



def show_number(number_to_calculate):
    try:
        return multiples_of_3_and_5[number_to_calculate]
    except: 
        opa = number_to_calculate
    try:
        return multiples_of_3[number_to_calculate]
    except:
        opa = number_to_calculate
    try:
        return multiples_of_5[number_to_calculate]    
    except:
        opa = number_to_calculate
    
    return opa

 
    
list(map(lambda number_to_calculate: show_number(number_to_calculate), range(1, 100)))

{15: 'TreeFive', 30: 'TreeFive', 45: 'TreeFive', 60: 'TreeFive', 75: 'TreeFive', 90: 'TreeFive'}
{3: 'Tree', 6: 'Tree', 9: 'Tree', 12: 'Tree', 15: 'Tree', 18: 'Tree', 21: 'Tree', 24: 'Tree', 27: 'Tree', 30: 'Tree', 33: 'Tree', 36: 'Tree', 39: 'Tree', 42: 'Tree', 45: 'Tree', 48: 'Tree', 51: 'Tree', 54: 'Tree', 57: 'Tree', 60: 'Tree', 63: 'Tree', 66: 'Tree', 69: 'Tree', 72: 'Tree', 75: 'Tree', 78: 'Tree', 81: 'Tree', 84: 'Tree', 87: 'Tree', 90: 'Tree', 93: 'Tree', 96: 'Tree', 99: 'Tree'}
{5: 'Five', 10: 'Five', 15: 'Five', 20: 'Five', 25: 'Five', 30: 'Five', 35: 'Five', 40: 'Five', 45: 'Five', 50: 'Five', 55: 'Five', 60: 'Five', 65: 'Five', 70: 'Five', 75: 'Five', 80: 'Five', 85: 'Five', 90: 'Five', 95: 'Five'}

TypeError: 'builtin_function_or_method' object is not iterable

{'TreeFive': [15, 30, 45, 60, 75, 90]}
{3: 'Tree', 6: 'Tree', 9: 'Tree', 12: 'Tree', 15: 'Tree', 18: 'Tree', 21: 'Tree', 24: 'Tree', 27: 'Tree', 30: 'Tree', 33: 'Tree', 36: 'Tree', 39: 'Tree', 42: 'Tree', 45: 'Tree', 48: 'Tree', 51: 'Tree', 54: 'Tree', 57: 'Tree', 60: 'Tree', 63: 'Tree', 66: 'Tree', 69: 'Tree', 72: 'Tree', 75: 'Tree', 78: 'Tree', 81: 'Tree', 84: 'Tree', 87: 'Tree', 90: 'Tree', 93: 'Tree', 96: 'Tree', 99: 'Tree'}
{5: 'Five', 10: 'Five', 15: 'Five', 20: 'Five', 25: 'Five', 30: 'Five', 35: 'Five', 40: 'Five', 45: 'Five', 50: 'Five', 55: 'Five', 60: 'Five', 65: 'Five', 70: 'Five', 75: 'Five', 80: 'Five', 85: 'Five', 90: 'Five', 95: 'Five'}